.wrapper{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  max-width: 400px;
  min-width: max-content;
}

.numbers{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.firstCol{
  grid-column: 1;
  grid-row: 2;
}

.operators{
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  grid-column: 2;
  grid-row: 2;
}

#clearAll{
  grid-column: 1/3;
  grid-row: 1;
  text-align: center;
  margin-left: 5%;
}

#clear{
  grid-column: 3;
  grid-row: 1;
}

button{
  max-width: 100px;
  min-width: max-content;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid black;
  padding: 10px;
  font-size: large;
}

button:hover{
  max-width: 100px;
  min-width: max-content;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid black;
  padding: 10px;
  background-color: yellow;
}

.num{
  background-color: white;
}

.op{
  background-color: rgb(212, 212, 212);

}

#opSection{
  max-width: 200px;
  min-width: 200px;
}

